@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family:'Poppins';
}

.line{
        height: 2px;
        background-color: black;
        width: 100%;
        margin: 20px 0;
    }

.text {
    display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        height: 50vh;
}

.card_form {
    background: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header .create {
    background-color: #E8F4FF;
    border: none;
    font-size: 20px;
    color: #000000;
    width: 200px;
}

/* .card {
    width: 397px;
    height: 241px;
    background-color: #E8F4FF;
    border: none;
    cursor: pointer;
} */

.card-body h5{
    font-size: 30px;
    font-weight: bold;
}

.card .card_footer .share {
    background-color: #ffffff;
    border: none;
}

textarea {
    height: 110px;
}


.input-container {
    position: relative;
    width: 100%;
}

.input-field {
    width: 100%;
    padding: 10px 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-container i {
    position: absolute;
    right: 0;
    left: 420px;
    top: 50%;
    transform: translateY(-50%);
}

.anggota-grup {
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#kustomGrup.hide {
    display: none !important;
}

#kustomGrup.show {
    display: flex !important;
}

#searchResults {
    position: absolute;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
}

#searchResults .dropdown-item {
    padding: 10px;
    cursor: pointer;
}

#searchResults .dropdown-item:hover {
    background-color: #f0f0f0;
}

.card_meet {
    background: white;
    height: 70vh;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #000000;
}

.line-meet {
    height: 1px;
    background-color: black;
    width: 100%;
    /* margin: px; */
}

.card-riwayat {
    border: 1px solid black;
    border-radius: 5px;
}

.filter-meet {
    border-radius: 20px;
}

.avatar {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;
    border-radius: 50%;
}

.card-detail-grup {
    background: white;
    width: 80%;
    height: 100%;
    border-radius: 28px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.vertical {
    border: 1px solid #ddd;
    height: 200px;
}

.card-grup {
    display: flex;
    width: 85%;
    background: white;
    border-radius: 28px;
}

.avatar-search {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: #ffffff;
    margin: 5px;
    border-radius: 50%;
}

.box-item .nama-user h6 {
    font-size: 18px;
    font-weight: bold;
}

.box-item .nama-user p {
    color: #808080;
}
