body{
    margin: 0;
    padding: 0;
}

.line{
        height: 2px;
        background-color: black;
        width: 100%;
        margin: 20px 0;
    }

.text {
    display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        height: 50vh;
}

.navbar {
    background: white;
    padding: 20px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header .create {
    background-color: #E8F4FF;
        border: none;
        font-size: 20px;
        color: #000000;
        width: 200px;
}

.card {
    width: 397px;
    height: 241px;
    background-color: #E8F4FF;
    border: none;
    cursor: pointer;
}

.card-body h5{
    font-size: 30px;
    font-weight: bold;
}

.card .card_footer .share {
    background-color: #ffffff;
    border: none;
}

